# Frontend Lead
/apps/web/        @stjohndane1

# Backend/API Lead
/apps/api/        @GordonHorway

# ML Lead
/apps/ml-service/ @catlamps

# QA Lead (tests + simulations)
/tests/           @brandonlevack

# PM Lead
@edwardnafornita
