apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: capstone
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    cert-manager.io/cluster-issuer: cloudflare-issuer
    traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  tls:
    - hosts:
        - mlcasim.edwardnafornita.com
      secretName: mlcasim-edwardnafornita-com-tls
  rules:
    - host: mlcasim.edwardnafornita.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: capstone-frontend
                port:
                  number: 80
