nameOverride: ""
fullnameOverride: ""

commonLabels: ""

namespace: capstone

replicaCount: 1

image:
  repository: registry.edwardnafornita.com/capstone
  tag: "latest"
  pullPolicy: IfNotPresent
  pullSecrets: []

containerPort: 80

livenessProbe:
  enabled: true
  path: /api/health
  port: 80
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  enabled: true
  path: /
  port: 80
  initialDelaySeconds: 5
  periodSeconds: 5

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

service:
  type: ClusterIP
  port: 80
  targetPort: 80

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: cloudflare-issuer
  hosts:
    - host: mlcasim.edwardnafornita.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: mlcasim-ca-tls
      hosts:
        - mlcasim.edwardnafornita.com

nodeSelector: {}
tolerations: []
affinity: {}
