name: CD

on:
  workflow_call:
  workflow_dispatch:

run-name: CD for ${{ github.event.pull_request.head.ref || github.ref_name }} ${{ github.event.pull_request.number && 'PR#' }}${{ github.event.pull_request.number || '' }}

jobs:
  build-image:
    uses: NafornitaProjects/GitHub-Actions/.github/workflows/build-docker-image.yaml@main
    with:
      app_name: capstone
      dockerfile: Dockerfile
      context: .
    secrets:
      REGISTRY: ${{ secrets.REGISTRY }}

  sync-argocd:
    if: github.ref == 'refs/heads/main'
    needs: build-image
    runs-on: self-hosted
    steps:
      - name: Login to Argo CD
        uses: clowdhaus/argo-cd-action@main
        with:
          version: "2.6.7"
          command: login
          options: |
            ${{ secrets.ARGOCD_SERVER }}
            --username ${{ secrets.ARGOCD_USERNAME }}
            --password ${{ secrets.ARGOCD_PASSWORD }}
            --grpc-web
            --insecure

      - name: Force refresh
        uses: clowdhaus/argo-cd-action@main
        with:
          version: "2.6.7"
          command: "app refresh capstone-webapp"
          options: "--grpc-web --insecure"

      - name: Sync Application
        uses: clowdhaus/argo-cd-action@main
        with:
          version: "2.6.7"
          command: "app sync capstone-webapp"
          options: "--grpc-web --insecure"
