name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  actions: read
  contents: read
  security-events: write
  pull-requests: write

jobs:
  lint:
    uses: ./.github/workflows/lint.yaml

  codeql:
    uses: ./.github/workflows/codeql.yaml
